/* ------------------------------------- */
/* -----------  DDF Default ------------ */
/* ------------------------------------- */

.ddf-direct-listing{
    position: relative;
    .clear-both{
        clear:both;
    }
    .pull-right{
        float: right !important;
    }
    padding: 0;
    margin:0;
    display: block;
    img.new-label{
        left: 0px;
        position: absolute;
        top: 0px;
        z-index: 20;        
        box-shadow: none;
        border: none;
    }
    img.list-photo{
        position: absolute;
    }
    .image-wrapper{
        float: left; 
        height: auto;
        position: relative;
        width: 250px;
        height: auto;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        min-width: 130px;
        font-size: 14px;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .btn:focus,
    .btn:active:focus,
    .btn.active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    .btn:hover,
    .btn:focus {
        color: #555555;
        text-decoration: none;
    }
    .btn:active,
    .btn.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .view-more{
        text-align:center;
        clear: both;
        .more-btn {
            margin-top: 30px;
            width: 200px;
        }
        .fa-spinner{
            display:none;
        }
    }
    .no-result {
        border: 1px dotted #CCCCCC;
        color: #C71C22;
        margin: 0 auto;
        padding: 20px;
        width: 200px;
        border-radius: 5px;
    }
    .badge {
        border-radius: 7px;
        font-size: 15px;
        padding: 4px 10px;
        background: none;
        border: 2px solid #666666;
        color: #428BCA;
        font-size: 15px;
        font-weight: bold;
    }
    .btn-primary {
        background-color: #158ec2;
        border-color: #158ec2;
        font-size: 20px;
        width: 100%;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: #ffffff;
        background-color: #1990d5;
        border-color: #1684c2;
    }
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }
    .btn-danger {
        color: #ffffff;
        background-color: #c71c22;
        border-color: #c71c22;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .open .dropdown-toggle.btn-danger {
        color: #ffffff;
        background-color: #a3171c;
        border-color: #911419;
    }
    .btn-danger:active,
    .btn-danger.active, 
    .open .dropdown-toggle.btn-danger {
        background-image: none;
    }
    .details-btn{
        color:#FFFFFF;
        text-decoration: none;
        &:visited{
            color:#FFFFFF;
        }
    }
    .icon{
        height: 30px;
        padding-top: 4px;
        width: 70px;
        list-style:none;
        float:left;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .bedroom.icon{
        background: url('../img/bed.png') no-repeat scroll right 0px transparent;
        margin-right:10px;
    }
    .bathroom.icon{
        background: url('../img/bath.png') no-repeat scroll right 0px transparent;
        float: right;
    }
    .list-photo{
        height: 200px !important;
        width: 250px !important;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        padding: 3px;
    } 
    .room-details{
        margin:0;
        padding:0;
    }
    .clear{
        clear:both;
    }
    .house-details{
        clear: both;
    }
    .search-bar {
        display:table;
        background-color: #0071C2;
        background-image: linear-gradient(rgba(0, 226, 255, 0.42) 0%, rgba(0, 99, 187, 0.42) 60%, rgba(0, 112, 193, 0.42) 110%), radial-gradient(circle at center center , rgba(5, 140, 201, 0.42), rgba(0, 113, 194, 0));
        background-size: 100% auto;
        border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.2);
        border-image: none;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(99, 237, 255, 0.4) inset;
        color: #FFFFFF;
        border-radius: 5px;
        width:100%;
        margin:0 auto;
        text-align:left;
        padding: 10px;
        margin-bottom:30px;

        .input-lg{
            color: #2fa4e7;
            display: none;
            font-size: 20px;
            height: 50px;
            padding: 12px 15px 10px;
            width: 100%;
        }
        .input-mask{
            padding: 10px 15px;
            color: #929292;
            background-color: #ffffff;
            height: 50px;
            .title{
                font-size: 20px;
            }
            .sub-title{
                font-size: 15px;
            }
        }
        .search-option{
            .form-control {
                background: transparent none repeat scroll 0 0;
                border: medium none;
                box-shadow: none;
                display: inline-block;
                float: left;
                height: 40px;
                padding: 9px 2px 2px;
                width: 33.3333%;
                text-align: center;
                select{
                    width: 100%;
                    padding: 5px;
                }
            }
            .fltr-openhouse{
                font-size: 15px;
                color: #fff;
            }
        }
        .submit{
            background-color: #e60000;
            border: 1px solid #ff1919;
            border-radius: 3px;
            color: #fff;
            height: 30px;
            width: 80%;
        }
        .date-range {
            background-image: url("../img/calendar.png");
            background-position: 90% center;
            background-repeat: no-repeat;
            border: medium none;
            cursor: pointer;
            padding: 5px;
            text-align: center;
            width: 98%;
        }
        .text-center {
            text-align: center;
        }
    }
/* ------------------------------------- */
/* -----------  List Layout ------------ */
/* ------------------------------------- */
    .list{
        clear:both;
        border-bottom: 1px solid #DBDBDB;
        clear: both;
        display: inline-block;
        padding: 10px 0;
        .image-wrapper {
            width: 35%;
            padding: 0px;           
        }
        .sum-info {
            width: 60%;
           
            padding:0px;
            margin: 0px 10px;
            .title{
                display:none;
            }
            .price{
                font-size:30px;
                margin:0px;
                padding:0px;
                line-height: 25px;
                float: left;
                width: 50%;
            }
            .room-details{
                float: left;
                width: 50%;
            }
            .text-center{
                padding-top:15px;
            }
            .address{
                float: left;
                font-size: 150%;
                margin: 15px 0;
                padding: 0;
                width: 100%;
            }
            .intro{
                float: left;
                margin: 15px 0 30px;
                text-align: justify;
                width: 100%;
            }
        }

        .img-responsive{
             float: left;
            a.img{
                background-size: cover;
                background-position: center center;
                border: 2px solid #d3d3d3;
                border-radius: 5px;
                display: inline-block;
                height: 250px !important;
                width: 100%;
            }
        }
        @media screen and (max-width: 980px) {            
            width:100%;
            img.new-label{
                left: 8%;
                top:5%;
            }
            .image-wrapper {
                width: 41%;
                padding: 1% 4%;
            }
            .caption {
                width: 41%;
                padding: 1% 4%;
                margin: 0px 0px 5px 5px;
                float: right;
            }
            .details {
                clear: both;
                padding: 1% 4%;
                width: auto;
                float: none;
            }
        }
        @media screen and (max-width: 810px) {
            img.new-label{
                left: 8%;
                top: 6px;
            }
            .sum-info{
                width: 100%;
            }
            .image-wrapper {
                width: 100%;
                float: none;
                display: inline-block;
            }
        }
        @media screen and (max-width: 610px) {
            img.new-label{
                left: 5%;
            }
            .image-wrapper {
                width: 100%;
                float: none;
                display: inline-block;
            }
            .sum-info {
                .price{
                    width: 90%;
                    font-size:25px;
                }
                .room-details {
                    width: 90%;
                    clear: both;
                    margin: 15px 0;
                }
                .address{
                    font-size: 120%;
                    line-height: normal;
                }
            }
        }
        @media screen and (max-width: 500px) {
            img.new-label{
                left: 5%;
            }
            h1 {
                font-size: 2em;
            }
            .image-wrapper {
                width: 100%;
                float: none;
                display: inline-block;
            }
            .sum-info {
                .price{
                    width: 90%;
                    font-size:25px;
                }
                .room-details {
                    width: 90%;
                    clear: both;
                }
                .address{
                    font-size: 120%;
                    line-height: normal;
                }
            }
        }
    }
    select {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
    }
/* ------------------------------------- */
/* -----------  Carousel --------------- */
/* ------------------------------------- */
        .jcarousel-wrapper {
            display: inline-block;
            margin: 20px auto;
            position: relative;
            border: 10px solid #fff;
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            -webkit-box-shadow: 0 0 2px #999;
               -moz-box-shadow: 0 0 2px #999;
                    box-shadow: 0 0 2px #999;
        }

        .jcarousel-wrapper .photo-credits {
            position: absolute;
            right: 15px;
            bottom: 0;
            font-size: 13px;
            color: #fff;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
            opacity: .66;
        }
        .jcarousel-wrapper .photo-credits a {
            color: #fff;
        }
        .jcarousel {
            position: relative;
            overflow: hidden;
        }
        .jcarousel ul {
            width: 20000em;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .jcarousel li {
            float: left;
        }

        .jcarousel-control-prev,
        .jcarousel-control-next {
            position: absolute;
            top: 141px;
            width: 30px;
            height: 47px;
            text-align: center;
            background: #fe7e17;
            color: #fff;
            text-decoration: none;
            text-shadow: 0 0 1px #000;
            font: 35px Arial, sans-serif;
            -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
                    border-radius: 3px;
            -webkit-box-shadow: 0 0 2px #999;
               -moz-box-shadow: 0 0 2px #999;
                    box-shadow: 0 0 2px #999;
        }

        .jcarousel-control-prev {
            left:0px;
        }

        .jcarousel-control-next {
            right:0px;
        }

        .jcarousel-control-prev:hover span,
        .jcarousel-control-next:hover span {
            display: block;
        }

        .jcarousel-control-prev.inactive,
        .jcarousel-control-next.inactive {
            opacity: .5;
            cursor: default;
        }

        .jcarousel-pagination {
            position: absolute;
            bottom: 0;
            left: 15px;
        }
        .jcarousel-pagination a {
            text-decoration: none;
            display: inline-block;
            font-size: 11px;
            line-height: 14px;
            min-width: 14px;
            background: #fff;
            color: #4E443C;
            border-radius: 14px;
            padding: 3px;
            text-align: center;
            margin-right: 2px;
            opacity: .75;
        }

        .jcarousel-pagination a.active {
            background: #4E443C;
            color: #fff;
            opacity: 1;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
        }
}

/* ------------------------------------- */
/* -----------  Details Page ----------- */
/* ------------------------------------- */

.ddf-direct-listing.details{
    min-width: 100%;
    clear: both;
    display: block;
    color: #333;
    .jcarousel-wrapper{
        float:left;
        .jcarousel {
            width: auto;
            height: auto;
        }
    }
    @media screen and (max-width: 980px) {
        .jcarousel-wrapper{
            float: none;
            display: block;
        }
    }
    .parking > li {
        padding-left: 30px;
        list-style: outside none none;
        float: left;
    }
    .land > li{
        padding-left: 30px;
        list-style: outside none none;
    }
    .google-maps{
        float:left;
        height: 400px;
        margin-top: 20px;
        width: 40%;
        overflow: hidden;
        display:block;
        border: 10px solid #FFFFFF;
        border-radius: 5px;
        box-shadow: 0 0 2px #999999;        
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    @media screen and (max-width: 810px) {
        .google-maps{
            clear: both;
            width: 100%;
            height: 340px;
            margin: 0px;
        }
    }

    .house-details{
        width:100%;
        .well{
            clear:both;
        }
    }
    .table{
        display: inline-block; 
        width: 100%;
        margin: 10px 0;
        .left-pipe{
            border-left: 1px solid #E4E4E4;
        }
        .d-row{
            float:left;
            padding:5px;
            display: inline-block; 
        }
    }
    .table-row{
        .price-info{
            .title{
                font-size:30px;
            }
        }
        .quick-view{
            .d-row{
                width:32%;
                display:inline-block;
                .span_block{
                    margin-bottom: 15px;
                }
                span{
                    font-size: 20px;
                }
            }
        }
        .summary-house{
            .d-row{
                border-bottom: 1px solid #e4e4e4;
                display: inline-block;
                margin: 0;
                min-height: 70px;
                width: 49%;
            }            
        }
        .summary-room {
            float: left;
            width: 100%;
            th{
                text-align: left;
            }   
        }
        .summary-build {
            float: left;
            width: 100%;
            th{
                text-align: left;
            }   
        }
        span{
            min-height:25px;
            display: block;
        }
        span.sub-title {
            display: inline-block;
            width: 120px;
        }

        .span_block{
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .with-bg{
            background-color: #E4E4E4;
            padding:10px;
        }

        @media screen and (max-width: 980px) {            

        }
        @media screen and (max-width: 810px) {

        }
        @media screen and (max-width: 610px) {

        }
        @media screen and (max-width: 500px) {
            .quick-view{
                .d-row{
                    width:100%;
                    display:inline-block;
                }
                .left-pipe{
                    border:none;
                }
            }
            .summary-house{
                .d-row{
                    width:100%;
                }            
            }
        }
    }
    .v-tour-img{
        vertical-align: middle;
        margin-right: 5px;
    }
    .v-tour-link{
        font-size: 15px;
    }
    .scrolloff{
        pointer-events: none;
    }
}

/* ------------------------------------- */
/* -----------  Listing Overlay -------- */
/* ------------------------------------- */

.overlay-open {
  background-color: #323232;
  height: 100%;
  opacity: 0.95;
  position: absolute;
  transition: opacity 200ms linear 0s, bottom 0s linear 0s;
  width: 100%;
  z-index: 10000;
  .term-inner {
    background-color: #fff;
    border-radius: 5px;
    margin: 30px auto;
    padding: 15px;
    width: 70%;
  }
  .term-body {
    height: 400px;
    overflow: auto;
  }
  .term-header{
    border-bottom: 1px solid #e4e4e4;
    font-size: 20px;
    font-weight: bold;
  }
  .term-footer{
    border-top: 1px solid #e4e4e4;
    margin-top: 15px;
    padding: 5px 0;
    text-align: right;
  }
  .term-action {
    background-color: #428bca;
    color: #fff;
    padding: 3px 15px;
    cursor: pointer;
  }
}