/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.cmb-row.col-xs-6{
    display: inline-table;
    width: 50%;
}
.cmb-th {
    font-weight: bold;
}

.panel {
    background-color: #fff;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    float: left;
    margin: 15px;
    width: 80%;
}
@media screen and (max-width: 1000px) {
    .panel {
        width: 80%;
    }
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-info > .panel-heading {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.panel-title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-body {
    padding: 15px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    margin-top: 15px;
}
pre{
    margin-top: 15px;
    background-color: #e4e4e4;
    padding: 5px;
}

.badge > li{
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 115px;
    height: 125px;
}


.display-setting {
    margin-top: 20px;
    width: 100%;
}
.display-setting tr{
    height: 30px;
}
.option-title {
    background-color: #dcdcdc;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    padding: 6px;
    width: 200px;
}
.option-content {
    border: 1px solid #DCDCDC;
    padding: 10px;
}
th.header {
    background-color: #2EA2CC;
    color: #FFFFFF;
    font-size: 18px;
    padding: 15px;
    text-transform: uppercase;
}
.switch-button-label {
    float: left;
    font-size: 16px;
    padding-top: 3px;
    cursor: pointer;
}

.switch-button-label.off {
    color: #adadad;
}

.switch-button-label.on {
    color: #0088CC;
    font-weight: bold;
}

.switch-button-background {
    float: left;
    position: relative;

    background: #FFF;
    border: 1px solid #aaa;

    margin: 1px 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
}

.switch-button-button {
    position: absolute;

    left: -1px;
    top : -1px;

    background: #2EA2CC;
    border: 1px solid #aaa;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.demo-img{
    background: url("../../upload/sample.png") no-repeat scroll center center transparent;
    height: 160px;
    position: relative;
    width: 496px;
}
.certs {
    height: 110px;
    position: absolute;
    right: 12px;
    top: 0;
    left:0;
    width: 120px;
    background-repeat: no-repeat;
    background-position: 7px 8px;
}
.wrap .dashicons{
    font-size: 40px;
    margin-left: -5px;
    margin-top: -5px;
    padding: 0;
    text-align: left;
    width: 37px;
}
#limiter,
#slider{
    background:none;
    background-color: #fff;
    width: 50%;
}
#limiter .ui-slider-handle,
#slider .ui-slider-handle{
    background:none;
    background-color: #2EA2CC;
    border: 1px solid #e6e6e6;
}
.select2-choice{
    min-width: 200px;
}
.input-group-btn .dashicons {
    display: inline;
    font-size: 20px;
    font-weight: normal;
    margin: 5px;
}
.col-6{
    width: 50%;
}

#ddf_manual_listing.postbox label{
    white-space: nowrap;
}
#ddf_manual_listing.postbox input,
#ddf_manual_listing.postbox select
{
    width: 70% !important;
}
#ddf_manual_listing.postbox .cmb-th {
    width: 15% !important;
}
#ddf_manual_listing.postbox .col-xs-6 .cmb-th {
    width: 35% !important;
}
#ddf_manual_listing.postbox .col-xs-6 .cmb-td {
    width: 60% !important;
}
#ddf_manual_listing.postbox .cmb2-upload-button{
    width: 200px !important;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: -1px;
    z-index: 2;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.input-group .form-control {
    display: table-cell;
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.input-group input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-collapse: separate;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.input-group-btn > .btn {
    position: relative;
}
.input-group-addon, .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
.input-group-btn {
    font-size: 0;
    position: relative;
    white-space: nowrap;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.result{
    display: none;
    width: 90%;
    margin-top: 15px;
}
.result textarea{
    width: 100%;
    height: 200px;
    padding: 15px;
}
#geolocation_plus_metabox h3.ui-sortable-handle,
#ddf_manual_listing h3.ui-sortable-handle{
    color: #0073AA;
    font-size: 20px !important;
}
.post-type-ddf_manual_listing #view-post-btn,
.post-type-ddf_manual_listing #preview-action{
    display: none !important;
}